.card {
  transition: transform 0.3s ease;
  border: none !important;
}

.card:hover {
  transform: translateY(-8px); /* حركة بسيطة عند الوقوف على المشروع */
}

.nav-link:hover {
  color: #13B0F5 !important;
}